<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact Support</title>
</head>
<body>
<p>Employee name {{employeeName}},</p>

<p>Organization name {{name}},</p>

<p>Error description</p>

<p>{{description}}</p>


</body>
</html>
