<!DOCTYPE html>
<html lang="en">
<head>
  <title>Department Head Confirmation</title>
</head>
<body>
<p>Dear {{employeeFirstName}},</p>

<p>We are pleased to announce that you have been appointed as the Head of the {{departmentName}} Department
  at {{organizationName}}.</p>

<p>Your leadership and dedication have been highly valued, and we believe that in your new role you will continue to
  guide our team to success.</p>

<p>Please join us in celebrating this exciting news. We look forward to seeing the great things we know you will
  accomplish in your new role.</p>

<p>Best,</p>
<p>Head of Human Resources</p>
<p>{{organizationName}}</p>
</body>
</html>
