<!DOCTYPE html>
<html lang="en">
<head>
  <title>Leave Approval</title>
</head>
<body>
<p>Dear {{employeeName}},</p>

<p>We are pleased to inform you that your leave request has been approved.</p>

<p>Here are the details of your leave period:</p>
<ul>
  <li>Start Date: {{leaveStartDate}}</li>
  <li>End Date: {{leaveEndDate}}</li>
</ul>

<p>We hope you have a restful and enjoyable time off. Please don't hesitate to reach out if you have any questions or
  concerns.</p>

<p>Best regards,</p>
<p>[Your Name]</p>
</body>
</html>
