<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact Support</title>
</head>
<body>
<p>Dear {{customerFirstName}},</p>

<p>Thank you for reaching out to our support team at KRIS.</p>

<p>We have received your inquiry, and we will do our best to respond to you within the next 24hours. Your patience is greatly appreciated.</p>

<p>Thank you for choosing KRIS. We value you and we're here to support you.</p>

<p>Best,</p>
<p>Customer Support Team</p>
<p>KRIS</p>
</body>
</html>
