<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }
    .header {
      background-color: #4CAF50;
      color: white;
      padding: 20px;
    }
    .content {
      padding: 20px;
    }
    .footer {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>Welcome to Our KRIS HR Solutions</h1>
  </div>
  <div class="content">
    <p>Dear {{organizationName}},</p>
    <p>We are thrilled to have you on board as a new member of our platform. Our goal is to provide you with the best tools and resources to help your organization grow and succeed.</p>
    <p>As a member of our platform, you will have access to a wide range of features and benefits, including:</p>
    <ul>
      <li>Kris Core</li>
      <li>Kris Payroll</li>
      <li>Kris Recruitment</li>
    </ul>
    <p>We are committed to providing you with the highest level of service and support. If you have any questions or need assistance, please do not hesitate to contact us.</p>
    <p>Thank you for choosing our platform. We look forward to working with you!</p>
    <p>Sincerely,</p>
    <p>The KRIS Team</p>
  </div>
  <div class="footer">
    <div style="padding: 30px 20px; ">
      <p style="text-align:center;font-size:12px;font-family:arial,sans-serif;color:#ffffff">
        Sent to you by
        <a href="javascript:void(0);" style="color:#ffffff" target="_blank">kris.io</a>
        <br>
        <a href="javascript:void(0);" style="color:#ffffff" target="_blank">Privacy Policy</a> |
        <a href="javascript:void(0);" style="color:#ffffff" target="_blank">FAQs</a> |
        <a href="javascript:void(0);" style="color:#ffffff" target="_blank">support@kris.io</a>
      </p>
      <br>
      <div style="text-align:center;">
        <a href="javascript:void(0);" style="text-decoration: none; padding-right: 10px" target="_blank">
          <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Facebook_h7mtr1.png"
               alt="Facebook" width="35">
        </a>
        <a href="javascript:void(0);" style="text-decoration: none; padding-right: 10px" target="_blank">
          <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Linkedin_eb8qkh.png"
               alt="Linkedin" width="35">
        </a>
        <a href="javascript:void(0);" style="text-decoration: none; padding-right: 10px" target="_blank">
          <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Instagram_lcbyme.png"
               alt="Instagram" width="35">
        </a>
        <a href="javascript:void(0);" style="text-decoration: none" target="_blank">
          <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Twitter_pyepek.png"
               alt="Twitter" width="35">
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
