<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to KRIS</title>
</head>
<body style="background-color: #eef1f4; width: 100%;font-family:arial,sans-serif;">
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#eef1f4">
    <tbody>
    <tr>
        <td align="center" valign="top" style="padding:30px;background:#eef1f4">
            <table border="0" cellpadding="0" cellspacing="0"
                   style="margin-top:20px;background-color:#fff;width:650px;border-radius:7px">
                <tbody>
                <tr>
                    <td valign="top" style="font-size:16px;font-family:arial,sans-serif;">
                        <div style="width: 100%; text-align: center; margin-bottom: 30px; background-color: #f8f7f7; padding: 1.5rem 0">
                            <a href="" target="_blank">
                                <img alt="Tether.to" border="0"
                                     src="https://logodix.com/logo/428017.png"
                                     width="162" height="60" class="CToWUd">
                            </a>
                        </div>
                        <div style="padding: 1rem">
                            <h1 style="font-weight:400;font-size:23px;font-weight:bold;margin:0 0 30px">
                                Dear {{event.firstname}},
                            </h1>
                          <p>We're excited to have you on board! Thank you for choosing our service.</p>
                          <p>Here are your login details:</p>
                          <ul>
                            <li style="font-weight: bold;" >Email: {{event.email}}</li>
                            <li style="font-weight: bold;" >Password: {{event.password}}</li>
                          </ul>
                          <p>Please remember to change your password after logging in for the first time.</p>
                          <p>If you have any questions or need help with anything, don't hesitate to reach out to our support team. We're here to help!</p>
                          <p style="margin-top:30px">Regards,
                            <br>Kris Team</p>
                        </div>
                        <div style="padding: 30px 20px; background: #F50057">
                            <p style="text-align:center;font-size:12px;font-family:arial,sans-serif;color:#ffffff">
                                Sent to you by
                                <a href="javascript:void(0);" style="color:#ffffff" target="_blank">kris.io</a>
                                <br>
                                <a href="javascript:void(0);" style="color:#ffffff" target="_blank">Privacy Policy</a> |
                                <a href="javascript:void(0);" style="color:#ffffff" target="_blank">FAQs</a> |
                                <a href="javascript:void(0);" style="color:#ffffff" target="_blank">support@kris.io</a>
                            </p>
                            <br>
                            <div style="text-align:center;">
                                <a href="javascript:void(0);" style="text-decoration: none; padding-right: 10px" target="_blank">
                                    <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Facebook_h7mtr1.png" alt="Facebook" width="35">
                                </a>
                                <a href="javascript:void(0);" style="text-decoration: none; padding-right: 10px" target="_blank">
                                    <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Linkedin_eb8qkh.png" alt="Linkedin" width="35">
                                </a>
                                <a href="javascript:void(0);" style="text-decoration: none; padding-right: 10px" target="_blank">
                                    <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Instagram_lcbyme.png" alt="Instagram" width="35">
                                </a>
                                <a href="javascript:void(0);" style="text-decoration: none" target="_blank">
                                    <img src="https://res.cloudinary.com/doughflip/image/upload/v1641723181/logo/Twitter_pyepek.png" alt="Twitter" width="35">
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

